.outercontactdiv {
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 10vh 2vw;
    width: 95vw;
    height: 70vh;
    justify-content: center;
    align-items: center;

}

#ContactImage{
    width: 100%;
    height: 95%;
}

.outercontactdiv div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

#reachout{
    color: #F58486;
    font-size: 2rem;
}

.child a {
    width: 100%;
    font-size: 1rem;
    font-family: 'Motorola ScreenType', sans-serif;
}

.child p {
   font-family: 'Motorola ScreenType', sans-serif;
}

.child input{
    display: block;
    width: 30vw;
    font-size: 1rem;
    height: 30px;
    max-width: 100%;
    background-color:#EFF8FF ;
    border:1px solid  black;
    font-family:'Motorola ScreenType', sans-serif ;
}

.textboxContact {
    width: 30vw;
    height: 50px;
    max-width: 100%;
    height: 90px;
    font-size: 1rem;
    max-height: 100%;
    background-color:#EFF8FF ;
    border:1px solid  black;
    font-family:'Motorola ScreenType', sans-serif ;
}

.button{
    background-color: #F58486;
    font-family: 'Motorola ScreenType', sans-serif;
    border: 0;
    width: 30vw;
    height: 30px;
}

