@import url('https://fonts.cdnfonts.com/css/motorola-screentype');


body{
  background-color: #EFF8FF;
}


.ParentDiv {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.LogoDiv{
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #F58486;
}

.NavLinks a {
  color: rgb(51, 50, 50);
  font-size: larger;
  text-decoration: none;
  padding: 0 10px;
  font-family: 'Motorola ScreenType', sans-serif;
}

.NavLinks a:hover {
  color: #F58486;
  font-family: 'Motorola ScreenType', sans-serif;
  
}
