
.skills {
    padding: 20px;
}

.innerDivSkills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-card {
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.skill-card img {
    width: 40%;
    height: auto;
}

.skill-card a {
    font-weight: bold;
    margin-bottom: 8px;
    text-decoration: none;
    color: #333;
}

.skill-card p {
    margin-top: 8px;
    font-size: 14px;
}


.skill-card.left {
    justify-content: flex-start;
}

.skill-card.right {
    justify-content: flex-end;
}
